.item-container {
    padding: 5%;
}

.cart-banner {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-image: url('http://localhost:5000:/uploads/about-banner.jpg');
    color: whitesmoke;
    background-size: cover;
    background-repeat: none;
}

.cart-banner-text {
    color: whitesmoke;
}

.form-container {
    float: none;
    justify-content: center;
    background-color: lightgray;
}

.summary-header {
    text-align: center;
}

ul {
    list-style-type: none;
}

.summary-list {
    float: none;
    justify-content: center;
}

.list-item-quantity {
    text-align: right;
    float: right;
    margin-right: 25%;
}